.handle {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 3px;
  background: rgba(0, 0, 0, 0.22);
  cursor: ew-resize;
}

.handleHint {
  position: absolute;
  top: 0;
  width: 65px;
  height: 50px;
  color: #474747;
  font-size: 17px;
  text-align: center;
  line-height: 37px;
  transform: translate(-50%, -100%);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='70' height='57' viewBox='0 0 70 57'%3E%3Cdefs%3E%3Cpath id='rectangle-b' d='M8,0 L56,7.81597009e-14 C60.418278,7.73480764e-14 64,3.581722 64,8 L64,26.8670004 C64,29.647261 62.5565188,32.2281486 60.1875746,33.6834672 L32,51 L3.81242543,33.6834672 C1.44348117,32.2281486 1.67923377e-13,29.647261 1.52766688e-13,26.8670004 L0,8 C-2.60485076e-14,3.581722 3.581722,-2.18283383e-14 8,-4.61852778e-14 Z'/%3E%3Cfilter id='rectangle-a' width='115.6%25' height='119.6%25' x='-9.4%25' y='-11.8%25' filterUnits='objectBoundingBox'%3E%3CfeOffset dx='-1' dy='-1' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='1.5'/%3E%3CfeColorMatrix in='shadowBlurOuter1' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3C/filter%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(4 4)'%3E%3Cuse fill='%23000' filter='url(%23rectangle-a)' xlink:href='%23rectangle-b'/%3E%3Cuse fill='%23EFEFEF' xlink:href='%23rectangle-b'/%3E%3C/g%3E%3C/svg%3E")
    center center / 100% 100%;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.period {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.22);
  position: absolute;
  top: 0;
  bottom: 0;
}

.moveHandle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  cursor: pointer;
  transition: 100ms all ease;
}
