.container {
  display: flex;
  height: 30px;
  margin-top: 5px;
}

.previousBtn {
  width: 30px;
  background: url("data:image/svg+xml,%0A%3Csvg width='14' height='14' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1664 896v128q0 53-32.5 90.5t-84.5 37.5h-704l293 294q38 36 38 90t-38 90l-75 76q-37 37-90 37-52 0-91-37l-651-652q-37-37-37-90 0-52 37-91l651-650q38-38 91-38 52 0 90 38l75 74q38 38 38 91t-38 91l-293 293h704q52 0 84.5 37.5t32.5 90.5z'/%3E%3C/svg%3E")
    no-repeat center;
  border: 0;
  cursor: pointer;
}

.dateInputBtn {
  background: #4c84c2;
  border: 0;
  color: white;
  margin: 0 2px;
  border-radius: 2px 2px 0 0;
}

.todayBtn {
  background: #4c84c2;
  border: 0;
  color: white;
  border-radius: 2px 2px 0 0;
  cursor: pointer;
}

.nextBtn {
  width: 30px;
  background: url("data:image/svg+xml,%0A%3Csvg width='14' height='14' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293h-704q-52 0-84.5-37.5t-32.5-90.5v-128q0-53 32.5-90.5t84.5-37.5h704l-293-294q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z'/%3E%3C/svg%3E")
    no-repeat center;
  border: 0;
  cursor: pointer;
}
